a:link {
   text-decoration: none;
}
button {
   &:focus {
      outline: none;
   }
}

.label {
   width: 112px;
   height: 24px;
   background-color: #000;
   font-size: 11px;
   font-weight: 300;
   color: rgb(255, 255, 255);
   text-transform: uppercase;
   text-align: center;
   margin: 0 auto;
   padding-top: 5px;
   margin-bottom: 23px;
   &__white {
      background-color: #fff;
      color: #000;
      font-weight: 300;
   }
   &__min {
      width: 76px;
   }
}
.descr {
   font-size: 38px;
   color: rgb(34, 34, 34);
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   &__white {
      color: #fff;
   }
}
.sub-descr {
   font-size: 17px;
   color: rgb(34, 34, 34);
   text-align: center;
   font-weight: 400;
   &__white {
      color: #fff;
   }
}
//  =========== Header ============
header {
   background: url("../img/header/header-bg.jpg") center center/cover no-repeat;
}

nav {
   background-color: #212121;
   position: fixed;
   display: block;
   width: 100%;
   z-index: 90;
   min-height: 50px;
}
.menu {
   padding: 14px 70px;
   margin: 0;
   list-style-type: none;
   display: flex;
   justify-content: space-between;

   // .menu__item

   &__item {
      border-right: 2px dotted #5a5959;
      padding-right: 28px;
      &:last-child {
         border: none;
         padding-right: 0;
      }
   }

   // .menu__link

   &__link {
      display: block;
      font-size: 15px;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
         color: $main-color;
      }
   }
}

.sub-header {
   background-color: rgba(0, 0, 0, 0.6);
   padding-top: 50px;

   // .sub-header__logo
   &__logo {
      display: block;
      margin-top: 17px;
      max-width: 100%;
   }

   // .sub-header__official
   &__official {
      font-weight: 100;
      color: rgba(255, 255, 255, 0.5);
      font-size: 13px;
   }

   // .sub-header__call

   &__call {
      display: block;
      font-weight: 300;
      font-size: 12px;
      color: rgb(255, 255, 255);
      margin-top: 18px;
      margin-right: 8px;
      text-align: right;
   }

   // .sub-header__tel

   &__tel {
      display: block;
      font-size: 22px;
      color: rgb(255, 255, 255);
      font-weight: 400;
      text-decoration: none;
      text-align: right;
      margin-right: 8px;
      &:hover {
         color: $main-color;
      }
   }

   // sub-header__btn

   &__btn {
      width: 172px;
      height: 46px;
      font-size: 14px;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
      background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
      border-radius: 5px;
      border: none;
      box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
      margin: 19px 0;
      @include btn-hover;
   }
}
.xs-visible {
   display: none;
}

.promo {
   padding: 55px 0 120px;

   // .promo__header

   &__header {
      font-size: 60px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
   }

   // .promo__subheader

   &__subheader {
      font-size: 36px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      margin-bottom: 14px;
   }

   // .promo__descr

   &__descr {
      font-size: 18px;
      color: #fff;
      text-align: center;
      max-width: 1030px;
      margin: 0 auto;
      line-height: 1.4;
   }

   // .promo__btn

   &__btn {
      width: 259px;
      height: 63px;
      background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
      box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      border-radius: 5px;
      border: none;
      margin: 114px auto 0;
      @include btn-hover;
   }
}
.header__xs-humburger {
   display: none;
   position: fixed;
   top: 14px;
   right: 32px;
   z-index: 95;
   span {
      display: block;
      width: 30px;
      height: 2px;
      margin-top: 4px;
      background-color: #fff;
   }
}

// ======= Reasons

.reasons {
   padding: 70px 0 30px;
   .container {
      .row {
         margin-top: 18px;
      }
   }
}

.reasons-block {
   display: flex;
   min-height: 170px;

   // .block__circle

   &__circle {
      width: 113px;
      height: 113px;
      border-radius: 100%;
      background-color: $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
   }
   // .block__wrapper

   &__wrapper {
      max-width: 370px;
      margin-left: 25px;
   }

   // .block__title

   &__title {
      font-size: 17px;
      color: $main-color;
      font-weight: 400;
      line-height: 19px;
   }

   // .block__descr

   &__descr {
      font-size: 15px;
      font-weight: 300;
   }
}

//  ========MOBILE-APP

.mobile {
   padding: 47px 0 61px;
   background-image: url(../img/mobbile-app/mobile-bg.png);
   .row {
      margin-top: 30px;
   }
}
.mobile-item {
   width: 320px;
   height: 280px;
   padding-top: 82px;
   margin: 0 auto;
   position: relative;
   margin-bottom: 19px;

   &__title {
      font-size: 24px;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      text-align: center;
   }
   &__plus {
      width: 26px;
      height: 26px;
      background-color: #000;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 35px;
      cursor: pointer;
      &:hover {
         &::after {
            background-color: $second-color;
         }
         &::before {
            background-color: $second-color;
         }
      }
      &::before {
         content: "";
         width: 14px;
         height: 2px;
         background-color: $main-color;
         display: block;
         transition: all 0.4s;
      }
      &::after {
         content: "";
         width: 2px;
         height: 14px;
         background-color: $main-color;
         display: block;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         transition: all 0.4s;
      }
   }
   &1 {
      background-image: url(../img/mobbile-app/1.jpg);
   }

   &2 {
      background-image: url(../img/mobbile-app/2.jpg);
   }

   &3 {
      background-image: url(../img/mobbile-app/3.jpg);
   }

   &4 {
      background-image: url(../img/mobbile-app/4.jpg);
   }

   &5 {
      background-image: url(../img/mobbile-app/5.jpg);
   }

   &6 {
      background-image: url(../img/mobbile-app/6.jpg);
   }
}

// =======CHOICE

.choice {
   padding: 55px 0 135px;
   background-image: url(../img/choice/choice-bg.png);
   position: relative;
   z-index: 1;
   // .choice__black-bg

   &__black-bg {
      width: 100%;
      height: 498px;
      background-color: #070716;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
   }

   // .choice__img-block

   &__img-block {
      display: flex;
      justify-content: center;
      margin-top: 48px;
   }
}
.choice-descr {
   width: 313px;
   margin: 0 auto;
   text-align: center;
}

// =================== DEMAND=================================

.demand {
   padding: 70px 0 75px;
   .warning {
      .demand-block__title {
         color: $second-color;
      }
      .demand-block__item {
         &:before {
            content: "";
            display: inline-block;
            background-image: url(../img/demand/check-red.png);
            width: 21px;
            height: 20px;
            position: absolute;
            left: -32px;
            top: 2px;
         }
      }
   }
}
.demand-block {
   margin: 33px 0;
   // .demand-block__title
   &__title {
      color: $main-color;
      font-size: 22px;
   }

   // .demand-block__list

   &__list {
      list-style-type: none;
      padding-left: 50px;
      margin-bottom: 0;
   }

   // .demand-block__item

   &__item {
      margin-top: 11px;
      position: relative;
      font-weight: 300;
      font-size: 17px;

      &:before {
         content: "";
         display: inline-block;
         background-image: url(../img/demand/check-blue.png);
         width: 21px;
         height: 20px;
         position: absolute;
         left: -32px;
         top: 2px;
      }
   }

   // .demand-block__descr

   &__descr {
      color: $main-color;
      font-size: 17px;
      font-weight: 300;
      margin-top: 12px;
   }
}
// =========================  WORLD

.world {
   position: relative;
   min-height: 718px;
   padding: 50px 0 54px;
   background: url(../img/world/world-bg.jpg) center center/cover no-repeat;
}
.world-link {
   color: $main-color;
   text-transform: uppercase;
   font-size: 15px;
   text-decoration: none;
   position: absolute;
   bottom: 54px;
   left: 50%;
   transform: translateX(-50%);
   transition: 0.5s color;
   &:hover {
      color: #fff;
   }
}

// ============================ FO0TER
footer {
   padding: 14px 23px 30px;
}
.strip {
   width: 300px;
   height: 4px;
   background-color: $main-color;
   margin: 0 auto 30px;
}
.footer-wrapper {
   display: flex;
   justify-content: space-between;

   & > div {
      width: 33%;
      &:nth-child(3) {
         display: flex;
         justify-content: flex-end;
      }
   }
}

.footer-social {
   display: flex;
   // .footer-social__item

   &__item {
      width: 32px;
      height: 32px;
      background-color: #070716;
      border-radius: 100%;
      margin: 0 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      i {
         transition: 0.6s all;
         color: #fff;
      }
      &:hover {
         i {
            color: $second-color;
         }
      }
   }
}

.footer-links {
   width: 400px;
   margin: 0 auto;
   // .footer-links__main
   &__main {
      display: flex;
      justify-content: space-around;
      font-size: 16px;
      text-transform: uppercase;
      a {
         color: rgb(7, 7, 22);
      }
   }

   // .footer-links__sub

   &__sub {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      text-transform: uppercase;
      margin: 5px 0 9px;
      a {
         color: rgb(153, 153, 153);
      }
   }

   // .footer-links__lang

   &__lang {
      text-align: center;
      a {
         font-size: 12px;
         color: rgb(31, 186, 214);
         text-transform: uppercase;
         &:hover {
            color: $second-color;
         }
      }
   }
}
.footer-apps {
   display: flex;
   &__item {
      margin: 0 3px;
   }
}
